/* .container{
    display: flex;
}
.home{
    background-image: url("../../gallery/person.jpg");
    width: 1044px;
    height: 90vh;
    flex-grow: 8;
}
.create_account{
    flex-grow: 1;
    width: 100%;
    float: right;
} */