<div class="row">
<div class="side-nav col-lg-2 col-md-4">
    <div class="side-nav-items">
        <span style="color: white;font: size 60px;font-weight: bolder ;">DASHBOARD</span>
    </div>
</div>
<div class="col-lg-10 col-md-8">
    <div class="dash row">
       <div class="card col-lg-3 col-md-4 mr-5" style="text-align: center;padding-top: 10%;"><h4 >Join Meting</h4></div>
       <div class="card col-lg-3 col-md-4 mr-5" style="text-align: center;padding-top: 10%;"><h4 >Create Meting</h4></div>
       <div class="card col-lg-3 mr-5" style="text-align: center;padding-top: 10%;"></div>

    </div>
</div>
</div>
