<section class="main">

    <section class="hero">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="hero-cont">
                    <h1>
                        Connect like never before
                    </h1>
                    <button>Sign-Up</button>
                </div>
              </div>
              <div class="col-sm">
                <img src="../../assets/2747683.png" alt="">
              </div>
            </div>
          </div>
    </section>
    
</section>
